<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBase.Properties.Settings.NBETConnectionString"
            connectionString="Data Source=T450-PC\SQL;Initial Catalog=NBET;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>